:root {
    --default-font: 'Nunito', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --header-desc-color: #6688FF;
    --green-button-color: #2CBE82;
    --red-button-color: #DA2B40;
    --darkred-button-color: #98031E;
    --white-color: #FFFFFF;
    --input-placeholder-color: #3B3E45;

    --orange-color: #FFA246;
    --green-color: #35E185;
    --blue-color: #6688FF;
    --purple-color: #B266FF;
    --lighblue-color: #66D1FF;
    --pink-color: #FF66D4;
    --red-color: #FF6666;
    --conflict-color: #F55D5D;

    --orange-color-opacity: rgb(255, 162, 70, 0.4);
    --green-color-opacity: rgb(53, 225, 133, 0.4);
    --blue-color-opacity: rgb(102, 136, 255, 0.4);
    --purple-color-opacity: rgb(178, 102, 255, 0.4);
    --lighblue-color-opacity: rgb(102, 209, 255, 0.4);
    --pink-color-opacity: rgb(255, 102, 212, 0.4);
    --red-color-opacity: rgb(255, 102, 102, 0.4);
    --conflict-color-opacity: rgb(245, 93, 93, 0.4);

    --scroll-color: #DCDFE3;
}

* ::-webkit-scrollbar {
    width: 16px;
}

* ::-webkit-scrollbar-track {
    background: var(--white-color);
}

* ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 22px;
    border: 5px solid var(--white-color);
}

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25rem;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    max-height: 1024px;
    font-family: var(--default-font);
}

/* HEADER */

.header {
    -webkit-box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25); 
    box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25);
}

.header__content {
    background-color: var(--header-desc-color);
    color: white;
    -webkit-border-top-right-radius: 14px;
    -webkit-border-bottom-right-radius: 15px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 15px;
}

.header__title {
    font-weight: 700;
    font-size: 1.375rem;
}

.button--green,
.button--red {
    color: var(--white-color);
    border-radius: 10px;
    font-size: 1.0625rem;
}

.button--green {
    background-color: var(--green-button-color);
}

.button--red {
    background-color: var(--red-button-color);
}

.header__text {
    font-size: 0.875rem;
}

.header__time {
    font-size: 2.5rem;
}

.header__date {
    font-size: 1.25rem;
}

/* FORM */

.scheduler-add__input {
    border-color: var(--green-button-color);
    color: var(--input-placeholder-color);
    font-size: 0.875rem;
}

.scheduler-add__input--spacing::placeholder {
    padding-left: 50px;
}

/* WEEK CONTAINER */

.week-container {
    overflow-y: scroll;
}

/* WEEK NAV */

li {
    list-style-type: none;
}

.hour-label {
    font-size: 1.0625rem;
    height: 4.688rem;
    width: 5.313rem;
    -webkit-box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25); 
    box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25);
    border-radius: 10px;    
}

.btn-day {
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.0625rem;
    width: 9.375rem;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border: none;
}

@media screen and (max-width: 1439px) {
    .btn-day {
        width: auto;
    }
}

.btn-day:hover {
    width: 11.875rem;
}

.btn-day--monday {
    background-color: var(--orange-color);
}
.btn-day--monday:hover {
    background-color: var(--orange-color);
}

.btn-day--tuesday {
    background-color: var(--green-color);
}
.btn-day--tuesday:hover {
    background-color: var(--green-color);
}

.btn-day--wednesday {
    background-color: var(--blue-color);
}
.btn-day--wednesday:hover {
    background-color: var(--blue-color);
}

.btn-day--thursday {
    background-color: var(--purple-color);
}
.btn-day--thursday:hover {
    background-color: var(--purple-color);
}

.btn-day--friday {
    background-color: var(--lighblue-color);
}
.btn-day--friday:hover {
    background-color: var(--lighblue-color);
}

.btn-day--saturday {
    background-color: var(--pink-color);
}
.btn-day--saturday:hover {
    background-color: var(--pink-color);
}

.btn-day--sunday {
    background-color: var(--red-color);
}
.btn-day--sunday:hover {
    background-color: var(--red-color);
}

/* PLAN LIST */ 

.task-column { 
    overflow: hidden; 
}

.task-list {
    position: relative;
    height: 65vh;
}

.task-list::before {
    content: "";
    position: absolute;
    background-image: url(../img/logo-compass.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 40%;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-left: 60%;
}

.hour-label--task {
    height: 5.313rem;
    background-color: var(--blue-color);
}

.task-card {
    height: 5.313rem;
    width: 32rem;
    -webkit-box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25); 
    box-shadow: 0px 4px 24px 0px rgba(168,168,168,0.25);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
}

.task-card__color {
    height: 5.313rem;
    width: 2rem;
    background-color: var(--blue-color);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.task-card__text {
    width: 30rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.task-card__button {
    background-color: var(--darkred-button-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 0.875rem;
    border-radius: 4px;
}

/* UTILITIES */

.top-scroll {
    overflow: auto;
    overflow-y: hidden;
    width: 80rem;
    height: 1px;
    position: absolute;
    top: -4vh;
    right: 0;
}

.conflict-line {
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: red;
}

.conflict-line::after {
    content: '';
    display: inline-block;
    height: 5px;
    width: 94vw;
    background-color: red;
    position: absolute;
    left: 20px;
    top: 10px;
}

@supports (-webkit-appearance: none) {
    .top-scroll {
        height: 15px;
    }
}